@import "tailwindcss";

@theme {
  /* 字體 */
  --font-archivo: "Archivo Black", "sans-serif";

  /* 字型大小 */
  --text-15: 15px;

  /* 顏色樣式 */
  --color-cc-1: white;
  --color-cc-2: #f1f1f3;
  --color-cc-3: rgb(234, 234.5, 237.5);
  --color-cc-4: #e3e4e8;
  --color-cc-5: #d5d7de;
  --color-cc-6: #c7c9d3;
  --color-cc-7: #b7bbc8;
  --color-cc-8: #aaaebc;
  --color-cc-9: #9b9dad;
  --color-cc-10: #868ca0;
  --color-cc-11: #717790;
  --color-cc-12: #5a5f73;
  --color-cc-13: #444857;
  --color-cc-14: #2c303a;
  --color-cc-15: rgb(37, 39.5, 48);
  --color-cc-16: #1e1f26;
  --color-cc-17: #131417;
  --color-cc-18: #0a0a0c;
  --color-cc-19: #010101;
  --color-cc-20: black;
  --color-cc-green: #47cf73;
  --color-cc-green-light: #d3ffe1;
  --color-cc-green-dark: #248c46;
  --color-cc-yellow: #ffdd40;
  --color-cc-yellow-light: #f9e9a2;
  --color-cc-yellow-dark: #d9b200;
  --color-cc-yellow-darker: #5c4813;
  --color-cc-purple: #ae63e4;
  --color-cc-purple-light: #be9fe4;
  --color-cc-purple-dark: #754cac;
  --color-cc-red: #ff3c41;
  --color-cc-red-very-light: #ffcfcb;
  --color-cc-red-light: #f19994;
  --color-cc-red-dark: #a00808;
  --color-cc-blue: #0ebeff;
  --color-cc-blue-light: #76daff;
  --color-cc-blue-dark: #3d88c3;
  --color-cc-link: #76daff;
  --color-cc-link-on-white: #1f798f;
  --color-cc-link-on-black: #56bcf9;
  --color-cc-pens: #0ebeff;
  --color-cc-posts: #47cf73;
  --color-cc-collections: #ae63e4;
  --color-cc-projects: #ffdd40;

  /* editor theme */
  --color-cc-editor-column-bg: #1c1c1c;
  --color-cc-editor-column-border: #2d2d2d;
  --color-cc-editor-column-title: #b2b8c5;
  --color-cc-editor-column-tab-bg: #1c1e22;
  --color-cc-editor-column-tab-text: #abaebd;
}

.editor-bgc {
  background-color: #1c1c1c;
}
.editor-block-title-color {
  color: #b2b8c5;
}

.editorSettingCard-linear-bgc {
  @apply bg-gradient-to-l from-[#252730] to-[#424655];
}

.editorSmallButton-hover-bgc:hover {
  background-color: #5a5f73;
}

.editor-resizer-border-color {
  border-color: #2d2d2d;
}
@layer utilities {
  .bg-card-text {
    @apply bg-[#1e1f26];
  }
  .bg-card-background {
    @apply bg-[#111];
  }
  .bg-card-menu {
    @apply bg-[#2d2c36];
  }
  .hover-bg-card-hover:hover {
    @apply bg-[#3a3b47];
  }
  .bg-card-button-primary {
    @apply bg-[#2d2d38];
  }
  .bg-card-button-secondary {
    @apply bg-[#4b4c5c];
  }
}

.bg-panel {
  background-color: #1e1f26;
}

.bg-input {
  background-color: #2f2f3a;
}

.bg-button {
  background-color: #3c3f4a;
}

.bg-button-hover:hover {
  background-color: #4a4e5c;
}

.border-default {
  border-color: #444654;
}

.border-panel {
  border-color: #2d2e36;
}

.border-danger {
  border-color: #dc2626;
}

.bg-grid-active {
  background-color: #71738a;
}

.bg-list-hover:hover {
  background-color: #4a4b55;
}

.bg-page {
  background-color: #2a2b32;
}

.bg-dropdown {
  background-color: #2a2b32;
}
.font-size-15 {
  font-size: 15px;
}
